

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.listaNav{
    display: flex;
    gap: 50px;
}

.listaNavItem{
    text-decoration: none;
    font-size: 16px;
    list-style: none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.boxBanner{
    background-image: url('https://cdn.jsdelivr.net/gh/Th3Wall/assets-cdn/Fakeflix/Fakeflix_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    background-position: center;
}

.botaoInscrevase{
    background-color: #E6020C;
    padding: 5px 20px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
}